body{
    background-color: darkgreen;
    color: white;
}
h1, h5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
img{
    display: inline;
    flex-direction: row;
    justify-content: center;
    scale: 400px;
}
p{
    text-size-adjust: 40px;
}
button{
display: block;
    justify-content: flex-start;
    margin-left: 647px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 13px 29px;
    display: inline-block;
    font-size: 16px;
    box-shadow: 12px 12px 2px 1px rgba(8, 59, 10, 0.5);
    border-radius: 12px;

}

#hands{
    display: flex;
    justify-content: space-between;
}
#hit:hover{
    background-color: #3e8e41;

}
#hit:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translate(4px)
}

#hit {
    margin-top: 10px;
    border-radius: 12px;
    margin-left: 656px;
}

#stay {
    margin-bottom: 10px;
    border-radius: 12px;
}
#stay:hover{
    background-color: #3e8e41;

}
#stay:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translate(4px)
}
#startGame:hover{
    background-color: #3e8e41;

}
#startGame:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translate(4px)
}
#reset:hover{
    background-color: #3e8e41;

}
#reset:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translate(4px)
}